* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background-color: #dddddd;
}

canvas {
  margin-top: 16px;
  display: inline-block;
  width: 90vw;
  box-sizing: border-box;
  background-color: #6b839e;
  border: 4px solid black;
}