* {
  padding: 0;
  margin: 0;
  background-color: black;
}

body {
  text-align: center;
}

canvas {
  display: inline-block;
  border: 2px solid purple;
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  margin-top: 12px;
}