* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  text-align: center;
  height: 100%;
}
table {
  border: 1px solid black;
  display: inline-block;
  user-select: none;
}
td {
  width: 50px;
  height: 50px;
}
.tile {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}
.tile.none {
  background-color: white;
}
.tile.basic {
  background-color: rgba(0, 0, 0, 0.6);
}
.tile.upload {
  background-color: blue;
}
.tile.enemy {
  background-color: red;
}
.tile.item {
  background-color: green;
}
.tile.node {
  background-color: blue;
  transform: scale(2);
}
.tile.selected {
  border: 2px solid yellow;
}
.connection-horizontal div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
}
.connection-vertical div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
  transform: rotate(90deg);
}
.connection-top-corner div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
  transform: rotate(45deg) translateX(-18px);
}
.connection-bottom-corner div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
  transform: rotate(45deg) translateX(18px);
}
.connection-right-corner div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
  transform: rotate(-45deg) translateX(18px);
}
.connection-left-corner div {
  background-color: black;
  height: 100%;
  width: 5px;
  display: inline-block;
  transform: rotate(-45deg) translateX(-18px);
}

td :not(:first-child) {
  position: absolute;
  height: 50px;
  width: 6px;
  transform-origin: bottom center;
  z-index: -5;
}

.w-e-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(45deg) scaleY(1.414);
}

.e-w-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(225deg) scaleY(1.414);
}

.se-nw-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(-90deg);
}
.nw-se-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(90deg);
}

.sw-ne-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px);
}

.ne-sw-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(180deg);
}

.s-n-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(-45deg) scaleY(1.414);
}

.n-s-connector {
  background-color: black;
  transform: translateY(-75px) translateX(22px) rotate(135deg) scaleY(1.414);
}

input.resize {
  width: 20px;
  padding: 0 5px;
}
.option {
  border: 1px solid black;
  padding: 8px 0;
}
.netmap-option {
  border: 2px solid black;
  padding: 8px;
}

#app {
  height: 100%;
}
#app-container {
  height: 100%;
}
#view-container {
  height: 80%;
}
#netmap-container {
  height: 100%;
  display: flex;
}
#netmap-options {
  box-sizing: border-box;
  border: 2px solid pink;
  flex: 0 0 300px;
  text-align: left;
  height: 100%;
}
#netmap-grid-container {
  overflow: scroll;
  border: 1px solid black;
  flex: 1 0 0;
  text-align: left;
  height: 100%;
  box-sizing: border-box;
}

#netmap-table-wrapper {
  transform: rotate(45deg);
  display: inline-block;
}

.table-options {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: inline-block;
}

.vertical-arrow {
  flex: 0 0 20px;
}
.horizontal-arrow {
  height: 20px;
}

.expand {
  background-color: rgba(0, 255, 0, 0.1);
}
.expand:hover {
  background-color: rgba(0, 255, 0, 0.5);
}
.collapse {
  background-color: rgba(255, 0, 0, 0.1);
}
.collapse:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

#dialogueLineContainer {
  border: 2px solid black;
  padding: 16px;
}
.dialogueLine {
  border: 2px solid black;
  padding: 8px;
}
.response {
  border: 1px solid black;
  padding: 8px;
}

.netmap-option.hidden {
  display: none;
}

.table-container {
  display: inline-flex;
  justify-content: center;
  min-width: max-content;
}
.table-container table {
  flex: 1 0 auto;
}

.vertical-resizer {
  height: 20px;
}
.horizontal-resizer {
  flex: 0 0 20px;
}

.resizer-plus {
  background-color: rgba(0, 255, 0, 0.2);
}
.resizer-plus:hover {
  background-color: rgba(0, 255, 0, 0.5);
}
.resizer-minus {
  background-color: rgba(255, 0, 0, 0.2);
}
.resizer-minus:hover {
  background-color: rgba(255, 0, 0, 0.5);
}