<div>
  <div class="option">
    <p>Title: <input type="text" ng-model="databattle.name"></p>
    <p>Reward: <input type="text" ng-model="databattle.reward"></p>
  </div>
  <div class="option">
    <select ng-model="selectedType">
      <option ng-repeat="type in tileTypes">{{ type }}</option>
    </select>
    <select ng-model="selectedProgram" ng-show="selectedType === tileTypes.ENEMY">
      <option ng-repeat="program in programList">{{ program.name }}</option>
    </select>
    <select ng-model="selectedItem" ng-show="selectedType === tileTypes.ITEM">
      <option ng-repeat="item in itemList">{{ item }}</option>
    </select>
    <input type="text" ng-model="creditAmount" ng-show="selectedType === tileTypes.ITEM && selectedItem === 'credit'"></input>
  </div>
  <div class="option" ng-if="!netmapWatcher.netmap">
    <button ng-click="generateJSON()">Generate JSON</button> (Logged to console) <br>
    <input ng-model="inputJson" type="text"><button ng-click="loadDatabattle(inputJson)">Generate Battle from JSON</button>
  </div>
  <div class="option" ng-if="netmapWatcher.netmap">
    <button ng-click="returnToNetmap()">Return to Netmap</button>
  </div>
</div>
<div class="grid-container">
  <div>
    <div class="horizontal-arrow expand" ng-click="databattle.resize({ top: 1 })"></div>
    <div class="horizontal-arrow collapse" ng-click="databattle.resize({ top: -1 })"></div>
  </div>
  <div class="table-options">
    <div class="vertical-arrow expand" ng-click="databattle.resize({ left: 1 })"></div>
    <div class="vertical-arrow collapse" ng-click="databattle.resize({ left: -1 })"></div>
    <table cellspacing="0" cellpadding="0">
      <tr ng-repeat="row in databattle.tiles">
        <td ng-repeat="tile in row">
          <div class="tile" ng-mousedown="clickTile(tile)" ng-mouseenter="mouseenterTile($event, tile)"
          ng-class="{
            'none': tile.type === tileTypes.NONE,
            'basic': tile.type === tileTypes.BASIC,
            'upload': tile.type === tileTypes.UPLOAD,
            'enemy': tile.type === tileTypes.ENEMY,
            'item': tile.type === tileTypes.ITEM,
          }"
          ng-style="tile.style">
            <span ng-if="tile.type === tileTypes.ENEMY">{{ tile.program }}</span>
            <span ng-if="tile.type === tileTypes.ITEM">{{ tile.item.name }}</span>
          </div>
        </td>
      </tr>
    </table>
    <div class="vertical-arrow collapse" ng-click="databattle.resize({ right: -1 })"></div>
    <div class="vertical-arrow expand" ng-click="databattle.resize({ right: 1 })"></div>
  </div>
  <div>
    <div class="horizontal-arrow collapse" ng-click="databattle.resize({ bottom: -1 })"></div>
    <div class="horizontal-arrow expand" ng-click="databattle.resize({ bottom: 1 })"></div>
  </div>
</div>