<!DOCTYPE html>
<html>
<head>
  <title>Level Editor</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="scripts/angular.min.js"></script>
  <script type="module" src="scripts/script.js"></script>
</head>
<body>
  <div ng-app="LevelEditor" ng-controller="controller">
    <div>
      <div class="option">
        <p>Title: <input type="text" ng-model="battleName"></p>
        <p>Reward: <input type="text" ng-model="reward"></p>
      </div>
      <div class="option">
        <p>{{ tiles[0].length }}x{{ tiles.length }}</p>
        Add To Left<input class="resize" type="text" maxLength="3" ng-model="resizeParams.left"></input>
        Add To Right<input class="resize" type="text" maxLength="3" ng-model="resizeParams.right"></input>
        Add To Top<input class="resize" type="text" maxLength="3" ng-model="resizeParams.top"></input>
        Add To Bottom<input class="resize" type="text" maxLength="3" ng-model="resizeParams.bottom"></input>
        <p>(Use negative numbers to shrink)</p>
        <button ng-click="resize()">Change Size</button>
      </div>
      <div class="option">
        <select ng-model="selectedType">
          <option ng-repeat="type in tileTypes">{{ type }}</option>
        </select>
        <select ng-model="selectedProgram" ng-show="selectedType === tileTypes.ENEMY">
          <option ng-repeat="program in programList">{{ program.name }}</option>
        </select>
      </div>
      <div class="option">
        <button ng-click="generateJSON()">Generate JSON</button> (Logged to console)
    </div>
    <table cellspacing="0" cellpadding="0">
      <tr ng-repeat="row in tiles">
        <td ng-repeat="tile in row">
          <div class="tile" ng-click="clickTile(tile)" ng-mouseenter="mouseenterTile($event, tile)"
          ng-class="{
            'none': tile.type === tileTypes.NONE,
            'basic': tile.type === tileTypes.BASIC,
            'upload': tile.type === tileTypes.UPLOAD,
            'enemy': tile.type === tileTypes.ENEMY,
          }">
            <span ng-if="tile.type === tileTypes.ENEMY">{{ tile.program }}</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</html>