<!DOCTYPE html>
<html>
<head>
  <title>Map Editor</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="components/databattle-editor/databattle-editor.component.js"></script>
  <script src="components/netmap-editor/netmap-editor.component.js"></script>
  <script src="components/event-editor/event-editor.component.js"></script>
  <script src="components/shop-editor/shop-editor.component.js"></script>
  <script src="services/grid.service.js"></script>
  <script src="services/databattle.service.js"></script>
  <script src="services/netmap.service.js"></script>
  <script src="services/event.service.js"></script>
</head>
<body>
  <div ng-app="mapEditorApp" ng-controller="homeController" id="app-container">
    <div ng-if="!databattleWatcher.databattle && !netmapWatcher.netmap && !eventWatcher.event">
      <button ng-click="startDatabattleEditor()">Databattle</button> <br>
      <button ng-click="startNetmapEditor()">Netmap</button> <br>
      <button ng-click="startEventEditor()">Event</button> <br>
    </div>
    <netmap-editor ng-if="!databattleWatcher.databattle && !eventWatcher.event && netmapWatcher.netmap && !netmapWatcher.netmap.openShop"></netmap-editor>
    <databattle-editor ng-if="databattleWatcher.databattle"></databattle-editor>
    <event-editor ng-if="eventWatcher.event"></event-editor>
    <shop-editor ng-if="netmapWatcher.netmap.openShop"></shop-editor>
  </div>
</body>
</html>