* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  padding-top: 16px;
}
table {
  border: 1px solid black;
  display: inline-block;
}
.tile {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  overflow: hidden;
}
.tile.none {
  background-color: white;
}
.tile.basic {
  background-color: rgba(0, 0, 0, 0.6);
}
.tile.upload {
  background-color: blue;
}
.tile.enemy {
  background-color: red;
}
.tile.item {
  background-color: green;
}
input.resize {
  width: 20px;
  padding: 0 5px;
}
.option {
  border: 1px solid black;
  padding: 8px 0;
}