<div>
  <div class="option">
    <p>{{ tiles[0].length }}x{{ tiles.length }}</p>
    Add To Left<input class="resize" type="text" maxLength="3" ng-model="resizeParams.left"></input>
    Add To Right<input class="resize" type="text" maxLength="3" ng-model="resizeParams.right"></input>
    Add To Top<input class="resize" type="text" maxLength="3" ng-model="resizeParams.top"></input>
    Add To Bottom<input class="resize" type="text" maxLength="3" ng-model="resizeParams.bottom"></input>
    <p>(Use negative numbers to shrink)</p>
    <button ng-click="netmap.resize(resizeParams)">Change Size</button>
  </div>
</div>
<div id="netmap-container">
  <div id="netmap-options">
    <div class="netmap-option">
      <button ng-click="generateJson()">Generate JSON</button>
      <input ng-model="inputJson" type="text"><button ng-click="loadNetmap(inputJson)">Generate Map from JSON</button>
    </div>
    <div class="netmap-option" ng-show="mode === modes.ADD_NODE">
      Add Node: <br>
      Owner: <select ng-model="newNode.owner">
        <option ng-repeat="owner in ownerList">{{ owner }}</option>
      </select> <br>
      Name: <input type="text" ng-model="newNode.name"></input> <br>
      Desc: <input type="text" ng-model="newNode.desc"></input> <br>
      Sec. Level: <input type="text" maxLength="3" ng-model="newNode.securityLevel"></input> <br>
      Image Name <input type="text" ng-model="newNode.imageName"></input> <br>
      Starts Owned: <input type="checkbox" ng-model="newNode.ownedByUser"></input> <br>
      <button ng-click="addNode(newNode)">Add Node</button>
    </div>
    <div class="netmap-option" ng-show="mode === modes.EDIT">
      Owner: <select ng-model="selectedNode.owner">
        <option ng-repeat="owner in ownerList">{{ owner }}</option>
      </select>
      Name: <input type="text" ng-model="selectedNode.name"></input> <br>
      Desc: <input type="text" ng-model="selectedNode.desc"></input> <br>
      Sec. Level: <input type="text" maxLength="2" ng-model="selectedNode.securityLevel"></input> <br>
      Image Name <input type="text" ng-model="selectedNode.imageName"></input> <br>
      Starts Owned: <input type="checkbox" ng-model="selectedNode.ownedByUser"></input> <br>
      Battle: <button ng-click="editDatabattle(selectedNode)">Edit Battle</button> <br>
      Event: <button ng-click="editEvent(selectedNode)">Edit Event</button> <br>
      Shop: <button ng-click="editShop(selectedNode)">Edit Shop</button> <br>
      
      <button ng-click="addConnection()">Add Connection</button>
      <button ng-click="clearConnections()">Clear Connections</button> <br>
      <button ng-click="removeNode()">Remove Node</button>
    </div>
    <div class="netmap-option" ng-show="mode === modes.ADDING_CONNECTION">
      <button ng-click="cancelConnection()">Cancel</button>
    </div>
  </div>
  <div id="netmap-grid-container">
    <table cellspacing="0" cellpadding="0" id="netmap" ng-style="netmap.tableMargin">
      <tr ng-repeat="row in netmap.tiles">
        <td ng-repeat="tile in row">
          <div class="tile" ng-mousedown="clickTile(tile)"
          ng-class="{
            'none': tile.type === tileTypes.NONE,
            'node': tile.type === tileTypes.NODE,
            'selected': tile.selected,
          }">
            <div ng-class="{
              'connection-horizontal': tile.type === tileTypes.CONNECTION_HORIZONTAL,
              'connection-vertical': tile.type === tileTypes.CONNECTION_VERTICAL,
              'connection-top-corner': tile.type === tileTypes.CONNECTION_TOP_CORNER,
              'connection-bottom-corner': tile.type === tileTypes.CONNECTION_BOTTOM_CORNER,
              'connection-left-corner': tile.type === tileTypes.CONNECTION_LEFT_CORNER,
              'connection-right-corner': tile.type === tileTypes.CONNECTION_RIGHT_CORNER,
            }">
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>